/* /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html { background-color: #E5E5E5; }

.Main{ display: flex; flex-direction: row; justify-content: center; margin-top: 80px; font-family: 'Oswald', 'Georgia', 'Times New Roman', sans-serif; color: #F2F2F2; }
	.RectangleLeft { margin-top: 0px; margin-left: 83px; margin-right: 10px; width: 240px; height: 540px; /*size visible on Figma: 525px*/ background-color:  #2b2b2b; }
	.EventItemList { width: 700px; height: 540px;  }
		.EventItem { display: flex; width: 700px; height: 58px; border-bottom: 2px solid #E5E5E5; background-color: #2b2b2b; }
			.EventItemDetails { display: flex; flex-direction: column; width: 201px; height: 30px; } 
				.Team { font-size: 14px; margin-left: 5px; margin-top: 6px; margin-bottom: 5px; line-height: 9px; }
				.TeamDetails { font-family: 'Roboto', 'Georgia', 'Times New Roman', sans-serif; font-size: 10px; margin-left: 5px; margin-top: 5px; margin-bottom: 5px; line-height: 10px; width: 165px; height:12px; color: #F2F2F2; }
			.Score { display: flex; justify-content: right; }
				.ScoreDescription { display: flex; flex-direction: column; margin-top: 6px; }
					.ScoreDetails { font-size: 14px; margin-left: 19px; margin-top: 6px; line-height: 9px;  }
			.ThreeOddButtonGroup { display: flex; flex-direction: row; font-size: 12px; }
				.FirstOddButton { margin-left: 5px; margin-right: 2px; margin-top: 5px; margin-bottom: 5px; width:50px;  height: 48px; background-color: #244b73; }
					.GreenIndicator { width: 8px; height: 8px; background: linear-gradient(to bottom left, #21C244 50%, #244b73 50%); margin-top: 2px; margin-left: 40px; margin-right: 2px; }
					.FirstOddButtonDetails { display: flex; justify-content: center; margin-bottom:14px; margin-top:8px; width:50px; height: 12px; }
					.Shadow { width: 50px; height: 4px; margin-bottom: 5px; opacity: 0.1; background:#000000; }
				.SecondOddButton { margin-left: 0px; margin-right: 2px; margin-top: 5px; margin-bottom: 5px; width: 50px; height: 48px; background-color: #244b73; }
					.SecondOddButtonDetails { display: flex; justify-content: center; margin-bottom: 6px; margin-top: 18px; width: 50px; height: 12px; }
					.PrimeRedIndicator{ width: 8px; height: 8px; margin-top: 0px; margin-left: 40px; margin-right: 2px; background: linear-gradient(to bottom right, #244b73 50%, #D62E1C 50%); }
					.SpaceBetween{ padding-bottom: 8px;}
				.SelectedOddButton { margin-left: 0px; margin-right: 2px; margin-top: 5px; margin-bottom: 5px; width: 50px; background-color: #3bab87; }
					.SelectedOddButtonDetails { display: flex; justify-content: center; margin-bottom: 11px; margin-top: 15px; margin-left: 16px; margin-right: 15px; width: 19px; height: 18px; color:#000000 }
			.TwoOddButtonGroup { display: flex; flex-direction: row; font-size: 12px; }
				.FirstFirstOddButton { margin-top: 5px; margin-left: 8px; margin-bottom: 5px; width: 55px; height: 48px; background-color: #244b73; }
					.FirstFirstOddButtonDetails { display: flex; justify-content: center; margin-bottom: 6px; margin-top:18px; width: 55px; height: 12px;}
					.RedIndicator { width: 8px; height: 8px; margin-top: 0px; margin-left: 45px; margin-right: 2px; background: linear-gradient(to bottom right, #244b73 50%, #D62E1C 50%); }
					.ShadowShadow { width: 55px; height: 4px; opacity: 0.1; margin-bottom: 5px; background:#000000; }
				.TextButton { font-size: 10px; display: flex; justify-content: center; width: 30px; height: 7px; margin-top: 26px; margin-bottom: 25px; }
				.SecondSecondOddButton { justify-content: center; margin-top: 5px; margin-bottom: 5px; width: 55px; height: 48px; margin-right: 10px; background-color: #244b73; }
					.SecondSecondOddButtonDetails{ display: flex; justify-content: center; margin-bottom: 14px; margin-top:18px; width: 55px; height: 12px; }
			.LastTwoOddButtonGroup { display: flex; flex-direction: row; font-size: 12px; }
				.LastOddButton { margin-right: 2px; margin-top: 5px; margin-bottom: 5px; width: 60px; height: 48px; background-color: #244b73; }
					.TopText { font-family:'Roboto', 'Gerogia', 'Times New Roman', sans-serif; font-size: 10px; display: flex; justify-content: center; margin-top: 12px; }
					.LastOddButtonDetails { display: flex; justify-content: center; margin-bottom: 10px; width: 60px; height: 12px; }
					.LastShadow { width: 60px; height: 4px; opacity: 0.1; margin-bottom: 5px; background:#000000; }
				.LastLastOddButton { margin-right: 2px; margin-top: 5px; margin-bottom: 5px; width: 60px; background-color: #244b73; }
					.LastLastOddButtonDetails { display: flex; justify-content: center; margin-bottom: 10px; width: 60px; height: 12px; } 
			.FavoriteButtonStartOff { display: flex; flex-direction: row; width: 30px; height: 58px; margin-left: 2px; opacity: 0.5; background-color: #244b73; }
				.StarOff { width: 16px; height: 15.2px; margin-top: 21px; margin-left: 7px; filter: invert(57%) sepia(60%) saturate(392%) hue-rotate(110deg) brightness(89%) contrast(92%); }
			.FavoriteButtonStarOn { display: flex; flex-direction: row; width: 30px; height: 58px; margin-left: 2px; background-color: #244b73; }
				.StarOn { width: 16px; height: 15.2px; margin-top: 21px; margin-left: 7px; filter: invert(57%) sepia(60%) saturate(392%) hue-rotate(110deg) brightness(89%) contrast(92%); }
	.RectangleRight { margin-top:0; margin-left: 10px; margin-right: 84px; width: 240px; height: 540px; /*size visible on Figma: 525px*/  background-color:  #2b2b2b; }
	